@page "/Admin/Authors/Details/{AuthorId}"
@using Assignment02.EntityProviders;
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Buttons

@namespace Assignment02.BlazorWebApp

<PageTitle>Authors</PageTitle>
<h3>Author Detail</h3>
