@page "/Admin/Authors/New"
@using Assignment02.EntityProviders;
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Calendars

@namespace Assignment02.BlazorWebApp

@if (string.IsNullOrEmpty(Role)) {
    <PageTitle>Unauthorized</PageTitle>
    <Unauthorized></Unauthorized>
} else if (Role == AppRole.Admin) {
    <PageTitle>Author</PageTitle>
    <h3>Author</h3>

    <div>
        <dl class="row">
            <dt class="col-sm-2">
                Email Address:
            </dt>
            <dd class="col-sm-4">
                <SfTextBox Type="InputType.Email" @bind-Value=Author.Email CssClass="e-small" Width="100"></SfTextBox>
                <h5 class="text-danger">@Warning</h5>
            </dd>

            <dt class="col-sm-2">
                First Name:
            </dt>
            <dd class="col-sm-4">
                <SfTextBox Type="InputType.Text" @bind-Value=Author.FirstName CssClass="e-small" Width="100"></SfTextBox>
            </dd>

            <dt class="col-sm-2">
                Last Name:
            </dt>
            <dd class="col-sm-4">
                <SfTextBox Type="InputType.Text" @bind-Value=Author.LastName CssClass="e-small" Width="100"></SfTextBox>
            </dd>

            <dt class="col-sm-2">
                Phone Number:
            </dt>
            <dd class="col-sm-4">
                <SfTextBox Type="InputType.Tel" @bind-Value=Author.Phone CssClass="e-small" Width="100"></SfTextBox>
            </dd>

            <dt class="col-sm-2">
                Address:
            </dt>
            <dd class="col-sm-4">
                <SfTextBox Type="InputType.Text" @bind-Value=Author.Address CssClass="e-small" Width="100"></SfTextBox>
            </dd>

            <dt class="col-sm-2">
                City:
            </dt>
            <dd class="col-sm-4">
                <SfTextBox Type="InputType.Text" @bind-Value=Author.City CssClass="e-small" Width="100"></SfTextBox>
            </dd>

            <dt class="col-sm-2">
                State:
            </dt>
            <dd class="col-sm-4">
                <SfTextBox Type="InputType.Text" @bind-Value=Author.State CssClass="e-small" Width="100"></SfTextBox>
            </dd>

            <dt class="col-sm-2">
                Zip:
            </dt>
            <dd class="col-sm-4">
                <SfTextBox Type="InputType.Tel" @bind-Value=Author.Zip CssClass="e-small" Width="100"></SfTextBox>
            </dd>

            <dt class="col-sm-2">
                Is Deleted:
            </dt>
            <dd class="col-sm-4">
                <SfTextBox Type="InputType.Text" Value=@Author.IsDeleted.ToString() CssClass="e-small" Width="100" Readonly=true></SfTextBox>
            </dd>

            <div>
                <dt class="col-sm-2">
                    <SfButton @onclick="async () => await AddAsync()">Add</SfButton>
                </dt>
                <br />
                <dd class="col-sm-4">
                    <SfButton @onclick="async () => await CancelAsync()">Cancel</SfButton>
                </dd>

            </div>
        </dl>
    </div>
}


