@page "/Author"
@using Microsoft.Fast.Components.FluentUI

@namespace Assignment02.BlazorWebApp.Pages

<PageTitle>Authors</PageTitle>
<h3>Authors</h3>

@if (IQueAuthor == null) {
    <p><em>Loading...</em></p>
} else {
     <FluentSearch type="text" placeholder="Search by name" @bind-Value=SearchName></FluentSearch>
    <div class="d-grid">
        <FluentDataGrid RowsData="@IQueAuthor">
            <PropertyColumn Property="@(x => x.FirstName + " " + x.LastName)" Sortable="true" />
        </FluentDataGrid>
     </div>
}
