@page "/Admin/Books/Details/{BookId}"
@using Assignment02.EntityProviders;
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.DropDowns

@namespace Assignment02.BlazorWebApp



@if (string.IsNullOrEmpty(Role)) {
    <PageTitle>Unauthorized</PageTitle>
    <Unauthorized></Unauthorized>
} else if (SelectedBook == null) {
    <p><em>Loading...</em></p>
} else {
    <PageTitle>Books</PageTitle>
    <h4>Book Details</h4>


    <div>
        <dl class="row">
            <dt class="col-sm-2">
                Title* :
            </dt>
            <dd class="col-sm-4">
                <SfTextBox Type="InputType.Email" @bind-Value=SelectedBook.Title CssClass="e-small" Width="100"></SfTextBox>
            </dd>

            <dt class="col-sm-2">
                Type* :
            </dt>
            <dd class="col-sm-4">
                <SfTextBox Type="InputType.Text" @bind-Value=SelectedBook.Type CssClass="e-small" Width="100"></SfTextBox>
            </dd>

            <dt class="col-sm-2">
                Price* :
            </dt>
            <dd class="col-sm-4">
                <SfNumericTextBox @bind-Value=SelectedBook.Price CssClass="e-small" Width="100"></SfNumericTextBox>
            </dd>

            <dt class="col-sm-2">
                Advance :
            </dt>
            <dd class="col-sm-4">
                <SfTextBox Type="InputType.Text" @bind-Value=SelectedBook.Advance CssClass="e-small" Width="100"></SfTextBox>
            </dd>

            <dt class="col-sm-2">
                Royalty :
            </dt>
            <dd class="col-sm-4">
                <SfTextBox Type="InputType.Text" @bind-Value=SelectedBook.Royalty CssClass="e-small" Width="100"></SfTextBox>
            </dd>

            <dt class="col-sm-2">
                Sales :
            </dt>
            <dd class="col-sm-4">
                <SfNumericTextBox @bind-Value=SelectedBook.Sales CssClass="e-small" Width="100"></SfNumericTextBox>
            </dd>

            <dt class="col-sm-2">
                Note :
            </dt>
            <dd class="col-sm-4">
                <SfTextBox Type="InputType.Text" @bind-Value=SelectedBook.Note CssClass="e-small" Width="100"></SfTextBox>
            </dd>

            <dt class="col-sm-2">
                Created At:
            </dt>
            <dd class="col-sm-4">
                <SfDatePicker Value=@this.SelectedBook.CreatedAt CssClass="e-small" Width="100" Readonly=true></SfDatePicker>
            </dd>

            <dt class="col-sm-2">
                Last Updated At:
            </dt>
            <dd class="col-sm-4">
                <SfDatePicker Value=@this.SelectedBook.LastUpdatedAt CssClass="e-small" Width="100" Readonly=true></SfDatePicker>
            </dd>

            <dt class="col-sm-2">
                Is Deleted:
            </dt>
            <dd class="col-sm-4">
                <SfTextBox Type="InputType.Text" Value=@SelectedBook.IsDeleted.ToString() CssClass="e-small" Width="100" Readonly=true></SfTextBox>
            </dd>

            <dt class="col-sm-2">
                Published Date* :
            </dt>
            <dd class="col-sm-4">
                <SfDatePicker @bind-Value=SelectedBook.PublishedDate CssClass="e-small"></SfDatePicker>
            </dd>

            <dt class="col-sm-2">
                Publisher* :
            </dt>
            <dd class="col-sm-4">
                <SfDropDownList @bind-Value=@(SelectedBook.PublisherId) DataSource="@AllPublishers" Placeholder="Publisher Name">
                    <DropDownListFieldSettings Value="Id" Text="Name">
                    </DropDownListFieldSettings>
                </SfDropDownList>
            </dd>
            <span>Author</span>
            <dt class="col-sm-2">
                <SfButton @onclick="() => AddAuthor()">Add an Author</SfButton>
            </dt>

            <dd class="col-sm-4">
                @foreach (var item in this.SelectedAuthors) {
                    <SfDropDownList @bind-Value=@(item.Id) DataSource="@AllAuthors" TValue="string" TItem="AuthorModel">
                        <DropDownListTemplates TItem="AuthorModel">

                        </DropDownListTemplates>
                        @{
                            <dt class="col-sm-2">
                                <SfButton @onclick="() => RemoveAuthor(item)">Remove Author</SfButton>
                            </dt>
                        }
                        <DropDownListFieldSettings Value="Id" Text="FullName"></DropDownListFieldSettings>
                    </SfDropDownList>
                }
            </dd>

            <dt class="col-sm-2">
                <SfButton @onclick="async () => await SaveAsync()">Save</SfButton>
            </dt>
            <dd class="col-sm-4">
                <SfButton @onclick="async () => await CancelAsync()" CssClass="e-warning">Cancel</SfButton>
            </dd>
            @if (SelectedBook.IsDeleted) {
                <dt class="col-sm-2">
                    <SfButton @onclick="async () => await RecoverAsync()">Recover</SfButton>
                </dt>

            } else {
                <dt class="col-sm-2">
                    <SfButton @onclick="async () => await SoftDeleteAsync()">Delete</SfButton>
                </dt>
            }
        </dl>
    </div>
}